/* 全体 */
body {
	background-color: #EFF0F7; /* 背景色  */
	text-align: center; /* 中央寄せ */
    min-width: 900px; /* 最小幅 */
}
header{
    margin-bottom: 10em;
    position: relative;
    width: 100%;
    background-color: #45496a; /* 背景色 */
    color: #ffffff; /* 文字色 */
}
/* ヘッダー、ナビゲーション内リンク */
header a, nav a {
	color: #ffffff;
	
}
/* ヘッダー内見出し */
header h1 {
	font-size: 20pt;
	margin: 10px auto;
}
/* 仕切り線 */
hr {
	border-top: 2px dashed #7d8bae;
}
/* メイン */
main {
	background-color: #FFFFFF;
	min-height: 50px;
	padding: 20px;
}
/* 表線 */
table, th, td {
	border-collapse: collapse;
	border: 1px solid #7d8bae;
}
/* 表 */
table {
    margin: 5px auto;
    min-width: 800px;
}
/* 表見出しセル */
table th {
	background: #7d8bae;
	color: #ffffff;
}
/* 送信ボタン */
button {
	margin: 2px;
	padding: 5px 20px;
	background-color: #e5857b;
	color: #ffffff;
	border: none;
	width:150px;
	cursor: pointer;
}
/* 送信ボタン(マウスオーバー時) */
button:hover {
	background-color: #f1b2b2;
}

/*グローバルメニュー*/
.menu {
    position: relative;
    width: 111%;
    height: 50px;
    margin: auto;
    padding: 0;
}

.menu > li {
    float: left;
    width: 18%; /* グローバルナビ4つの場合 */
    height: 50px;
    line-height: 50px;
    background: rgb(29, 33, 19);
}

.menu > li a {
    display: block;
    color: #fff;
}

.menu > li a:hover {
    color: #999;
}

ul.menu__second-level {
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

ul.menu__third-level {
    visibility: hidden;
    opacity: 0;
}

ul.menu__fourth-level {
    visibility: hidden;
    opacity: 0;
}

.menu > li:hover {
    background: #072A24;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.menu__second-level li {
    border-top: 1px solid #111;
}

.menu__third-level li {
    border-top: 1px solid #111;
}

.menu__second-level li a:hover {
    background: #111;
}

.menu__third-level li a:hover {
    background: #2a1f1f;
}

.menu__fourth-level li a:hover {
    background: #1d0f0f;
}

/* 下矢印 */
.init-bottom:after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 0 0 15px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* floatクリア */
.menu:before,
.menu:after {
    content: " ";
    display: table;
}

.menu:after {
    clear: both;
}

.menu {
    *zoom: 1;
}

.menu > li.menu__single {
    position: relative;
}

li.menu__single ul.menu__second-level {
    position: absolute;
    top: 40px;
    width: 100%;
    background: #072A24;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

li.menu__single:hover ul.menu__second-level {
    top: 50px;
    visibility: visible;
    opacity: 1;
}