<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>アカウント詳細</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<header>
		<h1>アカウント詳細</h1>
	</header>
	<main>
		<table border="1">
			<tr>
				<th>社員番号</th>
				<th>名前</th>
				<th>メールアドレス</th>
				<th>権限</th>
			</tr>
			<tr>
				<td>[[${account.id}]]</td>
				<td>[[${account.name}]]</td>
				<td>[[${account.email}]]</td>
				<td>[[${account.authoriseId}]]</td>
			</tr>
		</table>
		<form action="/accountDetail" method="post">
			<h1>パスワード変更</h1>
			<table border="1">
				<tr>
					<th>oldpassword</th>
					<td><input type="text" name="oldPassword"></td>
				</tr>
				<tr>
					<th>newpassword</th>
					<td><input type="text" name="newPassword"></td>
				</tr>
			</table>
			<button>パスワード変更</button>
		</form>
		<th:block th:each="errormessage: ${errormessage}">
			<span style="color: red">[[${errormessage}]]</span><br>
		</th:block>
		<span th:text="${message}" style="color:red"></span>
	</main>
</body>

</html>