<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>アカウント詳細</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<header th:replace="header"></header>
	<main>
		<h1>アカウント詳細</h1>
		<table border="1">
			<tr>
				<th>社員番号</th>
				<th>名前</th>
				<th>メールアドレス</th>
				<th>権限</th>
			</tr>
			<tr>
				<td>[[${account.accountId}]]</td>
				<td>[[${account.name}]]</td>
				<td>[[${account.email}]]</td>
				<td>
					<th:block th:if="${account.authoriseId == 0}">管理者</th:block>
					<th:block th:if="${account.authoriseId == 1}">上位</th:block>
					<th:block th:if="${account.authoriseId == 2}">下位ユーザ</th:block>
				</td>
			</tr>
		</table>
		<form action="/accountDetail" method="post">
			<h1>パスワード変更</h1>
			<table border="1">
				<tr>
					<th>現在のパスワード</th>
					<td><input type="password" name="oldPassword"></td>
				</tr>
				<tr>
					<th>新しいパスワード</th>
					<td><input type="password" name="newPassword"></td>
				</tr>
				<tr>
					<th>新しいパスワード（確認用）</th>
					<td><input type="password" name="comPassword"></td>
				</tr>
			</table>
			<button>パスワード変更</button>
		</form>
		<th:block th:each="errormessage: ${errormessage}">
			<span style="color: red">[[${errormessage}]]</span><br>
		</th:block>
		<span th:text="${message}" style="color:blue"></span>
	</main>
</body>

</html>