<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>CustomerInfo</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<header th:replace="header"></header>
	<hr>
	<main>
		<h1>管理者 - アカウント編集</h1>
		<hr>
		<form action="/admin/edit" method="post">
			<table border="1">
				<tr>
					<th>社員番号</th>
					<th>氏名</th>
					<th>メールアドレス</th>
					<th>パスワード</th>
					<th>付与権限</th>
				</tr>
				<tr th:each="account:${account}">
					<input type="hidden" name="id" th:value="${account.accountId}">
					<td>[[${account.accountId}]]</td>
					<td><input type="text" name="name" th:value="${account.name}"></td>
					<td><input type="text" name="email" th:value="${account.email}"></td>
					<td><input type="text" name="password" th:value="${account.password}"></td>
					<td><input type="text" name="authoriseId" th:value="${account.authoriseId}"></td>
				</tr>
			</table>
			<button>更新</button>
		</form>
	</main>
	<hr>
	<footer th:replace="footer"></footer>
</body>

</html>