<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>管理者ログイン</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<header>
		<h1>勤怠管理システム</h1>
	</header>
	<main>
		<h2>管理者ログイン</h2>
		<form action="/admin/login" method="post">
			<input type="text" name="accountId" placeholder="社員番号">
			<br>
			<input type="password" name="password" placeholder="パスワード">
			<br>
			<br>
			<button>ログイン</button>
			<br> <span th:text="${message}" style="color: red"></span>
		</form>
		<br>
		<a href="/login">一般ユーザーログイン</a>
	</main>
</body>

</html>