<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CustomerInfo</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header th:replace="header"></header>
	<hr>
	<main>
		<h1>管理者 - アカウント編集</h1>
		<hr>
		<form action="/admin/edit" method="post">
		<table border="1">
				<tr>
					<th>氏名</th>
					<td><input type="text" name="name" th:value="${account.name}"></td>
				</tr>
				<tr>
					<th>メールアドレス</th>
					<td><input type="text" name="email" th:value="${account.email}"></td>
				</tr>
				<tr>
					<th>パスワード</th>
					<td><input type="text" name="password" th:value="${account.password}"></td>
				</tr>
				<tr>
					<th>付与済み権限</th>
					<td><input type="text" name="authoriseId" th:value="${account.authoriseId}"></td>
				</tr>
			</table>
	
		</form>
	</main>
	<hr>
	<footer th:replace="footer"></footer>
</body>
</html>