<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>アカウント一覧</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<header>
		<br>
		<h1>勤怠管理システム</h1>
		<br>
		<span th:text="${@user.name}+' さんが管理者でログイン中'"></span>
		<br>
		<form action="/logout" method="get">
			<button>ログアウト</button>
		</form>
	</header>
	<hr>
	<main>
		<h1>管理者 - アカウント一覧</h1>
		<hr>
		<table border="1">
			<tr>
				<th>社員番号</th>
				<th>氏名</th>
				<th>メールアドレス</th>
				<th>パスワード</th>
				<th>付与済み権限</th>
				<th></th>
			</tr>

			<tr th:each="accounts:${accounts}">
				<td th:text="${accounts.accountId}"></td>
				<td th:text="${accounts.name}"></td>
				<td th:text="${accounts.email}"></td>
				<td th:text="${accounts.password}"></td>
				<td>
					<th:block th:if="${accounts.authoriseId == 0}">管理者</th:block>
					<th:block th:if="${accounts.authoriseId == 1}">上位</th:block>
					<th:block th:if="${accounts.authoriseId == 2}">下位ユーザ</th:block>
				</td>
				<form th:action="|admin/${accounts.accountId}/edit|" method="get">
					<td><button>編集</button></td>
				</form>
			</tr>

		</table>
		<br>
		<form action="admin/add" method="get">
			<button>アカウント新規追加</button>
		</form>
		<span style="color: red;">[[${errorMessage}]]</span>
	</main>
	<hr>
	<footer th:replace="footer"></footer>
</body>

</html>