<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>勤怠一覧表</title>
	<link rel="stylesheet" type="text/css" href="/css/style2.css">
</head>

<body>
	<header th:replace="header"></header>
	<main>
		<h1>勤怠一覧表</h1>
		<table border="1">
			<tr>
				<th>日付</th>
				<th>出勤時間</th>
				<th>退勤時間</th>
				<th>勤怠状況</th>
				<th>勤務先</th>
			</tr>
			<tr th:each="attendance:${attendance}">
				<td>[[${attendance.date}]]</td>
				<td>[[${attendance.arrivingTime}]]</td>
				<td>[[${attendance.leftTime}]]</td>
				<td>[[${attendance.attendanceId}]]</td>
				<td>[[${attendance.telework}]]</td>
			</tr>
		</table>
	</main>
</body>

</html>