<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>勤怠一覧表</title>
	<link rel="stylesheet" type="text/css" href="/css/style2.css">
</head>

<body>
	<header th:replace="header"></header>
	<main>
		<h1>[[${month}]]月勤怠一覧表</h1>
		<form action="/attendanceDetail" method="get">
			<select name="month">
				<option th:each="i : ${#numbers.sequence(1, 12)}" th:value="${i}" th:text="${i}+ '月'" th:selected="${month == i}">
					[[${i}]]</option>
			</select>
			<input type="submit" value="検索">
		</form>
		<table border="1">
			<tr>
				<th>日付</th>
				<th>曜日</th>
				<th>出勤時間</th>
				<th>退勤時間</th>
				<th>出勤状況</th>
				<th>退勤状況</th>
				<th>勤務先</th>
			</tr>
			<tr th:each="monthDetail:${monthDetail}">
				<td><a th:href="|/edit/${monthDetail.ymd}/attendance|">[[${monthDetail.ymd}]]<a></td>
				<td>[[${monthDetail.weekname}]]</td>
				<th:block th:each="attendance:${attendance}">
					<th:block th:if="${monthDetail.ymd == attendance.date}">
						<td>[[${attendance.arrivingTime}]]</td>
						<td>[[${attendance.leftTime}]]</td>
						<td th:each="a : ${attendanceType}" th:if="${a.attendanceId == attendance.attendanceId1}">[[${a.attendanceType}]]</td>
						<td th:each="a : ${attendanceType}" th:if="${a.attendanceId == attendance.attendanceId2}">[[${a.attendanceType}]]</td>
						<td>[[${attendance.telework}]]</td>
					</th:block>
					<th:block th:if="${monthDetail.ymd != attendance.date}">
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</th:block>
				</th:block>
			</tr>
		</table>
	</main>
</body>

</html>