<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>勤怠編集</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<header th:replace="header"></header>
	<main>
		<h1>勤怠編集</h1>

		<!--attendance情報があるとき-->
		<th:block th:if="${attendance != null}">
			<form th:action="|/edit/${attendance.id}|" method="post">
				<table border="1">
					<tr>
						<th>日付</th>
						<th>曜日</th>
						<th>出勤時間</th>
						<th>退勤時間</th>
						<th>出勤状況</th>
						<th>退勤状況</th>
						<th>勤務先</th>
					</tr>
					<tr>
						<td><span th:text="${date.ymd}"></span></td>
						<td><span th:text="${date.weekname}"></td>
						<td><input type="time" name="arrivingTime" th:value="${attendance.arrivingTime}"></td>
						<td><input type="time" name="leftTime" th:value="${attendance.leftTime}"></td>
						<td>
							<select name="attendanceId1">
								<option th:each="attendanceType:${attendanceType}"
									th:value="${attendanceType.attendanceId}" th:if="${attendanceType.attendanceId == 1 || 
									attendanceType.attendanceId == 3 || 
									attendanceType.attendanceId == 5}">
									[[${attendanceType.attendanceType}]]
								</option>
							</select>
						</td>
						<td>
							<select name="attendanceId2">
								<option th:each="attendanceType:${attendanceType}"
									th:value="${attendanceType.attendanceId}" th:if="${attendanceType.attendanceId == 2 || 
									attendanceType.attendanceId == 4}">
									[[${attendanceType.attendanceType}]]
								</option>
							</select>
						</td>
						<td><select name="telework" th:value="${attendance.telework}">
								<option value="出社">出社</option>
								<option value="テレワーク">テレワーク</option>
								</option>
							</select></td>
					</tr>
				</table>
				<button>更新</button>
			</form>
		</th:block>

		<!--attendance情報がないとき-->
		<th:bolck th:if="${attendance == null && date.holiday == null}">
			<form action="/edit" method="post">
				<table border="1">
					<tr>
						<th>日付</th>
						<th>曜日</th>
						<th>出勤時間</th>
						<th>退勤時間</th>
						<th>出勤状況</th>
						<th>退勤状況</th>
						<th>勤務先</th>
					</tr>
					<tr>
						<td><span th:text="${date.ymd}"></span></td>
						<td><span th:text="${date.weekname}"></span></td>
						<td><input type="time" value="00:00:00" step="1" name="arrivingTime"></td>
						<td><input type="time" value="00:00:00" step="1" name="leftTime"></td>
						<td>
							<select name="attendanceId1">
								<option th:each="attendanceType:${attendanceType}"
									th:value="${attendanceType.attendanceId}" th:if="${attendanceType.attendanceId == 1 || 
									attendanceType.attendanceId == 3 || 
									attendanceType.attendanceId == 5}">
									[[${attendanceType.attendanceType}]]
								</option>
							</select>
						</td>
						<td>
							<select name="attendanceId2">
								<option th:each="attendanceType:${attendanceType}"
									th:value="${attendanceType.attendanceId}" th:if="${attendanceType.attendanceId == 2 || 
									attendanceType.attendanceId == 4}">
									[[${attendanceType.attendanceType}]]
								</option>
							</select>
						</td>
						<td><select name="telework">
								<option value="出社">出社</option>
								<option value="テレワーク">テレワーク</option>
								</option>
							</select></td>
					</tr>
				</table>
				<input type="hidden" name="ymd" th:value="${date.ymd}">
				<button>更新</button>
			</form>
		</th:bolck>
		<!--休日-->
		<th:bolck th:if="${attendance == null && date.holiday != null}">
			<form action="/edit" method="post">
				<table border="1">
					<tr>
						<th>日付</th>
						<th>曜日</th>
						<th>出勤時間</th>
						<th>退勤時間</th>
						<th>出勤状況</th>
						<th>退勤状況</th>
						<th>勤務先</th>
					</tr>
					<tr>
						<td><span th:text="${date.ymd}"></span></td>
						<td><span th:text="${date.weekname}"></span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></tr>
				</table>
				<span style="color: blue;">[[${date.holiday}]]</span>
			</form>
		</th:bolck>
		<th:block th:if="${errorMessage != null}" th:each="errorMessage:${errorMessage}">
			<span style="color: red;">[[${errorMessage}]]</span>
		</th:block>
		<th:block th:if="${message != null}">
			<span style="color: blue;">[[${message}]]</span>
		</th:block>
	</main>
</body>

</html>