<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>アカウントパスワード変更</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<!--<body>-->
<!--	<header th:replace="header"></header>-->
<!--	<main>-->
<!--		<h1>アカウントパスワード変更</h1>-->
<!--		<th:text>[[${message}]]</th:text>-->
<!--		<form action="/accountDetail" method="post">-->
<!--			<input type="password" name="oldPassword"-->
<!--			placeholder="古いパスワード"><br>-->
<!--			<input type="password" name="newPassword"-->
<!--			placeholder="新しいパスワード"><br>-->
		
<!--			<button>変更する</button>-->
			
<!--		</form>-->
		
<!--	</main>-->
	
<!--</body>-->

</html>