<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>休暇申請</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<header th:replace="header">
	</header>
	<h1>休暇申請一覧</h1>
	<table>
		<tr>
			<th>日付</th>
			<th>承認者ID</th>
			<th>承認者名前</th>
			<th>概要</th>
			<th>承認状況</th>
			<th>削除</th>
			<th>申請</th>
		</tr>
		<tr th:each="leave:${leave}">
			<td>[[${leave.applyDate}]]</td>
			<td>[[${leave.authoriserId}]]</td>
			<td>
				<th:block th:each="account:${account}" th:if="${account.accountId == leave.authoriserId}">
					[[${account.name}]]</th:block>
			</td>
			<td>
				<th:block th:each="attendanceType:${attendanceType}"
					th:if="${attendanceType.attendanceId == leave.leaveId}">
					[[${attendanceType.attendanceType}]]</th:block>
			</td>
			<td>
				<th:block th:each="approvalStatus:${approvalStatus}"
					th:if="${approvalStatus.approvalId == leave.approvalId}">
					[[${approvalStatus.approvalStatus}]]</th:block>
			</td>
			<td>
				<form th:action="|/leave/${leave.id}/delete|" method="post">
					<input type="hidden" th:value="${leave.id}">
					<button>削除</button>
				</form>
			</td>
			<td>
				<th:block th:if="${leave.approvalId == 1}">
					<form th:action="|/leave/${leave.id}/apply|" method="post">
						<input type="hidden" th:value="${leave.id}">
						<button>申請</button>
					</form>
				</th:block>
				<th:block th:if="${leave.approvalId != 1}">
					申請済み
				</th:block>
			</td>
		</tr>
	</table>
	<span th:text="${message}" style="color: red;"></span>
</body>

</html>