<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>休暇申請</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<header th:replace="header">
	</header>
	<h1>休暇申請</h1>
	<form action="/leaveRequest" method="post">
		<table>
			<tr>
				<th>日付</th>
				<td><input type="date" name="date" min="2020-01-01" max="2050-12-31"></td>
			</tr>
			<tr>
				<th>概要</th>
				<td>
					<select name="leaveType">
						<option value="0">
							--休暇種類--
						</option>
						<option th:each="attendanceType:${attendanceType}" th:value="${attendanceType.attendanceId}">
							[[${attendanceType.attendanceType}]]
						</option>
					</select>
				</td>
			</tr>
			<tr>
				<th>申請理由</th>
				<td><textarea name="message"></textarea></td>
			</tr>
		</table>
		<button name="approvalStatus" value="2">申請</button>
		<button name="approvalStatus" value="1">下書き</button>
	</form>
	<span th:text="${message}" style="color: blue;"></span>
	<th:block th:if="${errorMessage != null}" th:each="errorMessage:${errorMessage}">
		<span th:text="${errorMessage}" style="color: red;"></span>
	</th:block>
</body>

</html>