<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header>
		<h1>サンプルショッピング</h1>
	</header>
	<main>
		<form action="/login" method="post">
			<input type="text" name="accountId" placeholder="社員番号">
			<br>
			<input type="password" name="password" placeholder="パスワード">
			<br>
			<br>
			<button>ログイン</button>
			<br> <span th:text="${message}" style="color: red"></span>
		</form>
		<br>
		<a href="/login?password=forget">パスワードお忘れの方</a>
	</main>
</body>
</html>