<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>パスワードリセット</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<header>
		<h1>パスワードリセット</h1>
	</header>
	<main>
		<form action="/reset" method="post">
			<input type="text" name="email" placeholder="登録されているメールアドレス">
			<br>
			<input type="text" name="accountId" placeholder="社員番号">
			<br>
			<div id="container" class="loading">
				<button>パスワード再設定</button>
			</div>
			<script>
				(function ($) {
					//コントローラ
					var indicatorController = {

						__name: 'indicatorController',

						//クリックイベントハンドラ
						'#indicator click': function () {
							//インジケータ表示処理
							this.indicator({
								message: 'block'
							}).show();
						}
					};

					//div範囲とコントローラを紐つける
					$(function () {h5.core.controller('#container', indicatorController)});
				})(jQuery);

				//インジケータを変数に保持する
				var indicator = this.indicator({
					message: 'block'
				}).show();

				//0.8秒後にインジケータを非表示にする
				setTimeout(function () {
					indicator.hide();
				}, 800);
			</script>
			<br> <span th:text="${message}" style="color: red"></span>
		</form>
		<br>
	</main>
</body>

</html>