<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>承認待ち申請</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<header th:replace="header"></header>
	<main>
		<h1>承認待ち申請一覧</h1>
		<span th:text="${message}" style="color:mediumslateblue"></span>
		<table border="1">
			<tr>
				<th>申請No</th>
				<th>変更希望日時</th>
				<th>社員番号</th>
				<th>氏名</th>
				<th>申請内容</th>
				<th>承認状況</th>
				<th>備考</th>
			</tr>
			<tr th:each="pendings:${pendings}">
				<td>[[${pendings.id}]]</td>
				<td>[[${pendings.applyDate}]]</td>
				<td>[[${pendings.accountId}]]</td>
				<td>
					<th:block th:each="account:${account}" th:if="${account.accountId == pendings.accountId}">
						[[${account.name}]]
					</th:block>
				</td>
				<td>[[${pendings.leaveId}]]</td>
				<td>[[${pendings.approvalId}]]</td>
				<td>[[${pendings.message}]]</td>
				<td>
					<form action="/pending/state" method="post">
						<input type="hidden" name="id" th:value="${pendings.id}">
						<button value="4" name="approvalId">承認する</button>
					</form>
				</td>
				<td>
					<form action="/pending/state" method="post">
						<input type="hidden" name="id" th:value="${pendings.id}">
						<button value="3" name="approvalId">差し戻す</button>
					</form>
				</td>
			</tr>
		</table>
	</main>


</body>

</html>