<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>申請先上位ユーザー編集</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<header th:replace="header"></header>
	<h1>申請先ユーザ一覧</h1>
	<main>
		<hr>
		<table border="1">
			<tr>
				<th>社員番号</th>
				<th>氏名</th>
				<th>メールアドレス</th>
				<th>パスワード</th>
				<th>付与済み権限</th>
			</tr>
			<tr th:each="accounts:${accounts}">
				<td th:text="${accounts.accountId}"></td>
				<td th:text="${accounts.name}"></td>
				<td th:text="${accounts.email}"></td>
				<td th:text="${accounts.password}"></td>
				<td th:text="${accounts.authoriseId}"></td>
				<td>
					<form th:action="/supervisor/${accounts.authoriserId}" method="post">
						<input type="hidden" value="${accounts.accountId}">
						<button>登録する</button>
					</form>
				</td>
			</tr>
		</table>
	</main>

</body>

</html>