<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>申請先編集</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<header th:replace="header"></header>
	<h1>申請先ユーザ一覧</h1>
	<main>
		<span th:text="${message}" style="color:red"></span>
		<hr>
		<table border="1">
			<tr>
				<th>現在登録中</th>
				<th>社員番号</th>
				<th>氏名</th>
				<th>メールアドレス</th>
				<th></th>
			</tr>
			<tr th:each="accounts:${accounts}" th:if="${account.accountId != accounts.accountId}">
				<td><th:block th:if="${accounts.accountId == account.authoriserId}"><span>※</span></th:block></td>
				<td th:text="${accounts.accountId}"></td>
				<td th:text="${accounts.name}"></td>
				<td th:text="${accounts.email}"></td>
				<td>
					<form th:action="|/supervisor/${accounts.accountId}|" method="post">
						<button>登録する</button>
					</form>
				</td>
		</table>
	</main>
</body>

</html>